<div class="banner__row">
<div class="cat">
    <ul>
        <li class="catH1"><a href="/categories">Categories</a></li>
        <li class="catP"><a href="/categories/home-and-appliances" id="catA">Home&nbsp;&#38;&nbsp;Appliances</a></li>
        <li class="catP"><a href="" id="catA">Electronics</a></li>
        <li class="catP"><a href="" id="catA">Gaming&nbsp;&#38;&nbsp;Media</a></li>
        <li class="catP"><a href="" id="catA">Office&nbsp;&#38;&nbsp;Stationery</a></li>
        <li class="catP"><a href="" id="catA">Sports&nbsp;&#38;&nbsp;Training</a></li>
        <li class="catP"><a href="" id="catA">Toys</a></li>
        <li class="catP"><a href="" id="catA">Gardening</a></li>
        <li class="catP"><a href="" id="catA">Homeware</a></li>
        <li class="catP"><a href="" id="catA">Pets</a></li>
        <li class="catP"><a href="" id="catA">Camping</a></li>
        <li class="catP"><a href="" id="catA">Health&nbsp;&#38;&nbsp;Personal&nbsp;Care</a></li>
        <li class="catP"><a href="" id="catA">Jewellery&nbsp;&#38;&nbsp;Accessories</a></li>
    </ul>
    </div>

<div class="banner">
    <div class="img">
        <img src="./assets/banner.jpg" alt="Banner">
    </div>
    <div class="textbox">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet possimus numquam beatae facilis maxime odio blanditiis nobis non. Sed similique consequatur assumenda libero reprehenderit sunt, rem incidunt natus porro optio?</p>
    </div>
</div>
<div class="ad">
    <div class="img">
        <img src="./assets/banner.jpg" alt="Advertisement">
    </div>
</div>
</div>