<div class="collections">
    <h1>Featured Collections</h1>
    <div class="row">
        <div class="card card1">
            <img src="./assets/banner.jpg" alt="collections">
        </div>
        <div class="card card2">
            <img src="./assets/banner.jpg" alt="collections">
        </div>
    </div>
    <div class="row">
        <div class="card card3">
            <img src="./assets/banner.jpg" alt="collections">
        </div>
        <div class="card card4">
            <img src="./assets/banner.jpg" alt="collections">
        </div>
    </div>
</div>