---
title: ClutterShop
layout: 'base.njk'
---


    {% include 'banner.njk' %}
    <div class="home__body">
<div class="Products">
<div class="product-row">
  <div class="head">
  <h1>Featured Products</h1>
  <button>View All</button>
  </div>
  <div class="category">
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>R100</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  </div>
</div>

<div class="product-row">
  <div class="head">
  <h1>Recent Products</h1>
  <button>View All</button>
  </div>
  <div class="category">
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>R100</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  </div>
</div>

<div class="product-row">
  <div class="head">
  <h1>Trending Products</h1>
  <button>View All</button>
  </div>
  <div class="category">
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>R100</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  </div>
</div>

<div class="product-row">
  <div class="head">
  <h1>Best Sellers</h1>
  <button>View All</button>
  </div>
  <div class="category">
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>R100</h2>
    <p>price</p>
  </div>
  <div class="product-card">
    <img src="./assets/banner.jpg" alt="single-product">
    <h1>name</h1>
    <h2>pervious price</h2>
    <p>price</p>
  </div>
  </div>
</div>
</div>
<div class="ads">
  <div class="ad1">
    <div class="img">
      <img src="./assets/banner.jpg" alt="Advertisement">
    </div>
  </div>
  <div class="ad1">
    <div class="img">
      <img src="./assets/banner.jpg" alt="Advertisement">
    </div>
  </div>
  <div class="ad1">
    <div class="img">
      <img src="./assets/banner.jpg" alt="Advertisement">
    </div>
  </div>
  <div class="ad1">
    <div class="img">
      <img src="./assets/banner.jpg" alt="Advertisement">
    </div>
  </div>
</div>
</div>
    {% include 'collections.njk' %}